.container {
  display: block;
  position: relative;
  left: 14em;
  //outline: 1px solid red;
  width: calc(100% - 23em);
  top: 3em;
  background: white;
  border-radius: 12px;
  box-shadow: 4px 4px 16px rgba(0,0,0,0.2);
  padding: 1em 2.5em 3em;
  margin-bottom: 10em;
}


.content {
  font-size: 0.8em;
  color: #333333;

  h1 {
    margin-bottom: 1em;
  }

  h2 {
    margin-top: 2em;
    margin-bottom: 1.5em;
    &::after {
      content: "";
      display: block;
      position: relative;
      background: #aaaaaa;
      top: 0.5em;
      height: 2px;
      width: 100%;
    }
  }

  p, ol, ul {
    font-size: 1em;
    color: #444444;
  }
  ol, ul {
    padding-left: 1em;
  }
}
