.container {
  display: block;
  position: relative;
  left: 4em;
  width: calc(100% - 13em);
  top: 3em;
  background: white;
  border-radius: 12px;
  box-shadow: 4px 4px 16px rgba(0,0,0,0.2);
  padding: 2em 3em 4em;
  margin-bottom: 10em;
  color: #444444;


  h1 {
    text-align: center;
    font-weight: 400;
    font-size: 3em;
  }

  p {
    line-height: 1.5em;
  }
}
