.hero {
  height: calc(100vh - 2em);
  //outline: 1px solid blue;
  margin-top: 1em;
  display: block;
  position: relative;

  div:first-child {
    //outline: 1px solid red;
    position: absolute;
    top: calc(50% - 10em);
    left: 10em;
    width: 18em;
    height: 14em;

    h2 {
      font-weight: 500;
      font-size: 2em;
      color: #444444;
      margin-bottom: 1em;
    }

    button {
      outline: none;
      border: none;
      margin-right: 1em;
      font-family: 'Roboto', sans-serif;
      font-size: 1em;
      padding: 0.5em 1.3em;
      cursor: pointer;
      border-radius: 8px;
    }

    a:nth-child(2) button {
      background: rgb(29,114,242);
      background: linear-gradient(300deg, rgba(29,114,242,1) 0%, rgba(59,173,255,1) 100%);
      color: white;
      transition: background 0.05s linear;
      &:hover {
        background: darken(rgb(29,114,242), 10);
        background: linear-gradient(300deg, darken(rgba(29,114,242,1), 10) 0%, darken(rgba(59,173,255,1), 10) 100%);
      }
    }


  }

  div:nth-child(2) {
    display: block;
    position: absolute;
    bottom: 4em;
    //outline: 1px solid red;
    right: 3em;
    max-width: calc(100% - 32em);
    width: calc(100vh - 2em);
    height: calc(100vh - 10em);
  }

  img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    //height: 100%;
    filter: brightness(0.98);
  }

}



.section {
  //outline: 1px solid blue;
  display: block;
  position: relative;
  left: 9em;
  width: calc(100vw - 18em);
  margin-bottom: 6em;
  margin-top: 2em;

  h2 {
    position: relative;
    font-size: 1.65em;
    font-weight: 600;
    left: 0.6em;
    color: #666666;
    margin-top: 1em;
    margin-bottom: 0.4em;
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}



.example {
  display: block;
  position: relative;
  background: white;
  border-radius: 12px;
  box-shadow: 4px 4px 16px rgba(0,0,0,0.2);
  width: calc(50% - 6em);
  min-width: 20em;
  //height: 15em;
  margin: 1.4em 1em;
  float: left;
  color: #444444;
  padding: 2.2em 2em;

  h3 {
    font-size: 1.4em;
    font-weight: 600;
    margin-top: 0;
  }

  p {
    font-size: 0.9em;
    padding-right: 8em;
  }

  div {
    margin-top: 3em;

    a {
      display: inline-block;
      position: relative;
      outline: none;
      border: none;
      margin-right: 1em;
      font-family: 'Roboto', sans-serif;
      font-size: 1em;
      padding: 0.4em 1.3em;
      cursor: pointer;
      border-radius: 8px;
    }

    a:first-child {
      background: rgb(29,114,242);
      background: linear-gradient(300deg, rgba(29,114,242,1) 0%, rgba(59,173,255,1) 100%);
      color: white;
      transition: background 0.05s linear;
      &:hover {
        background: darken(rgb(29,114,242), 10);
        background: linear-gradient(300deg, darken(rgba(29,114,242,1), 10) 0%, darken(rgba(59,173,255,1), 10) 100%);
      }
    }

    a:not(:first-child)  {
      background: rgba(0,0,0,0);
      transition: background 0.05s linear;
      color: #444444;
      &:hover {
        background: rgba(0,0,0,0.1);
      }
    }
  }


}
